{% set unit = productAttr[attr].get("unit", "") %}
{% if productAttr[attr].get("innerAttrValueList", "") %}
    {% set inner_value = productAttr[attr]["innerAttrValueList"] %}
    <div class="btn-group btn-group-justified">
        {% for k in value_list %}
        <div class="btn-group">
            <a class="btn btn-primary btn-lg {% if int(k)==1 %}active{%end%}" data-range="{{ inner_value[k] }}"
               data-type="{{ attr }}" data-value="{{ k }}">
                {{ k }}{{ unit }}
            </a>
        </div>
        {% end %}
    </div>
{% elif productAttr[attr].get("innerBy") %}
    {% set inner_by =  productAttr[attr]["innerBy"]%}
    {% set inner_value = productAttr[inner_by]["innerAttrValueList"] %}
        {% for i in inner_value %}
        <div class="btn-group btn-group-justified {% if i!=1 %}hidden{%end%}" data-inner="{{ i }}">
        {% for k in inner_value[i] %}
        <div class="btn-group" >
            <a data-type="{{ attr }}" data-value="{{ int(k)*1024 }}" class="btn btn-primary btn-lg  {% if int(k)==1 %}active{%end%}">
                {{ k }} {{ unit }}
            </a>
        </div>
        {% end %}
        </div>
    {% end %}
{% end %}
<script>
     seajs.use(['jquery','modules/services_block','modules/calender', 'bootstrap-slider', 'bootbox', 'modules/pay'],
        function($,Services, calender, slider, bootbox, pay){
        var $el = $('.form-horizontal');
        var Button_{{ attr }} = {
            init: function(){
                $("#{{ attr }}").on("click", 'a[data-type={{ attr }}]', Button_{{ attr }}.apply_cpu);
                {% if productAttr[attr].get("inner_to") %}
                {% set inner_to = productAttr[attr]["inner_to"] %}
                inner_to = $("#{{ inner_to }}").find('a[data-type={{ inner_to }}]');
                {% end %}
            },
            apply_cpu: function(e) {
                e.preventDefault();
                var $target = $(e.currentTarget);
                var ${{ attr }} = $target.parent().siblings().children();
                if ($target.hasClass('active')) {
                    return;
                }
                ${{ attr }}.removeClass('active');
                $target.addClass('active');
                pay.params.{{ attr }} = $target.data('value');
                console.log("value====", this, e);
                {% if productAttr[attr].get("innerAttrValueList", "") %}
                console.log("selected_{{ attr }}", pay.params.{{ attr }});
                    Button_{{ attr }}.changeMemoryLine(pay.params.{{ attr }});
                {% end %}
                {#this.getCloudPrice(true);#}
            },
            changeMemoryLine: function(inner){
                var memory_line = inner_to.parents(".btn-group-justified");
                var inner_value = memory_line.not(".hidden").data("inner");
                if(inner === inner_value){
                    return;
                }
                memory_line.not(".hidden").addClass("hidden");
                memory_line.filter("[data-inner="+ inner +"]").removeClass("hidden");
            }
        };
        Button_{{ attr }}.init();
    });
</script>