{% set unit = productAttr[attr].get("unit", "") %}
{% if productAttr[attr].get("innerAttrValueList", "") %}
    {% set inner_value = productAttr[attr]["innerAttrValueList"] %}
    <div class="btn-group btn-group-justified">
        {% for k in value_list %}
        <div class="btn-group">
            <a class="btn btn-primary btn-lg {% if int(k)==1 %}active{%end%}" data-range="{{ inner_value[k] }}"
               data-type="{{ attr }}" data-value="{{ k }}">
                {{ k }}{{ unit }}
            </a>
        </div>
        {% end %}
    </div>
{% elif productAttr[attr].get("innerBy") %}
    {% set inner_by =  productAttr[attr]["innerBy"]%}
    {% set inner_value = productAttr[inner_by]["innerAttrValueList"] %}
        {% for i in inner_value %}
        <div class="btn-group btn-group-justified {% if i!=1 %}hidden{%end%}" data-inner="{{ i }}">
        {% for k in inner_value[i] %}
        <div class="btn-group" >
            <a data-type="{{ attr }}" data-value="{{ int(k)*1024 }}" class="btn btn-primary btn-lg  {% if int(k)==1 %}active{%end%}">
                {{ k }} {{ unit }}
            </a>
        </div>
        {% end %}
        </div>
    {% end %}
{% end %}