{% include '../common/header.html' %}

<section class="wrapper extended scrollable animated fadeInRight">
        <nav class="user-menu">
            <a href="javascript:;" class="main-menu-access">
                <i class="icon-reorder"></i>
            </a>
        </nav>
        <ol class="breadcrumb breadcrumb-nav">
            <li class="active">
                <a class="bread-page-title" href="#">业务受理单</a>
            </li>
            <li>
                {{ name }}
            </li>
        </ol>
        <div class="new-services">
            <div class="panel panel-default panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">创建{{ name }}</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ baseUrl}}business/createresitem" method="POST" class="form-horizontal" id="service_post_form">
                    {% for attr in attr_sort %}
                    {% set  value_list = productAttr[attr].get("valueList", "") %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">{{ productAttr[attr]["name"] }}</label>
                        <div class="col-sm-10">
                        {% if productAttr[attr]["inputType"] == "select" %}
                            <select id="{{ productAttr[attr] }}_select" name="os" class="form-control">
                                {% for z in value_list %}
                                    <option value="{{z}}">{{value_list[z]["name"]}}</option>
                                {% end %}
                            </select>
                        {% elif productAttr[attr]["inputType"] == "button" %}
                        {% set unit = productAttr[attr].get("unit", "") %}
                            <div class="btn-group btn-group-justified">
                                {% for k in value_list %}
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-lg"  data-type="cpu" data-value="{{ k }}">
                                        {{ k }}{{ unit }}
                                    </a>
                                </div>
                                {% end %}
                            </div>
                        {% elif productAttr[attr]["inputType"] == "selectInput" %}
                            <div class="col-sm-4">
                                <select id="{{ attr }}_select" name="{{ attr }}" class="form-control">
                                    {% for k in productAttr[attr]["valueList"] %}
                                        <option value="{{k}}">{{productAttr[attr]["valueList"][k]["name"]}}</option>
                                    {% end %}
                                </select>
                            </div>
                            <div class="input-group col-sm-4" style="bottom: 0px">
                                <input type="{{ productAttr[attr]["inputs"]["type"] }}" class="form-control"
                                       id="{{ attr }}_value" value="{{ productAttr[attr]["inputs"]["default"] }}">
                                {% if productAttr[attr]["inputs"].get("unit", "") %}
                                <span class="input-group-addon">{{ productAttr[attr]["inputs"]["unit"]}}</span>
                                {% end %}
                            </div>
                        {% elif productAttr[attr]["inputType"] == "input" %}
                            {% set value = productAttr[attr]["inputs"] %}
                            <input type="{{ value["type"] }}" class="form-control"
                                       id="{{ attr }}_value" value="{{ value["default"] }}">
                                {% if value.get("unit", "") %}
                                <span class="input-group-addon">{{ value["unit"]}}</span>
                                {% end %}
                        {% elif productAttr[attr]["inputType"] == "fixed" %}
                            {% set fixed = productAttr[attr]["fixed"] %}
                            <p class=""><span class="text-success lead">{{ fixed["value"] }}</span>{{ " "+fixed["unit"] }}</p>
                        {% end %}
                        </div>
                    </div>
                    {% end %}
                        <div class="form-group form-actions">
                            {% if pageType=='change' %}
                                {% if jurisdiction['update'] %}
                                         <div class="col-sm-2 col-sm-offset-2">
                                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="修改"/>
                                            </div>
                                {%end%}
                            {% else %}
                                 <div class="col-sm-2 col-sm-offset-2">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="添加"/>
                                 </div>
                            {%end%}
                            <div class="col-sm-2">
                                <a class="btn btn-default btn-lg btn-block" href="/order/info?id={{businessOrderId}}">取消</a>
                            </div>
                            <!-- <p class="">合计 <span class="text-success lead">200.00</span>元</p> -->
			            <input id="defaultCpu" type="hidden" value="1">
                        <input id="defaultMem" type="hidden" value="1024">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
        <div id="calendarPanel" style="position: absolute;visibility: hidden;z-index: 9999;background-color: #FFFFFF;border: 1px solid #CCCCCC;width:175px;font-size:12px;"></div>
<script>


    seajs.use(['jquery','modules/publicip','modules/calender'], function($,Services,calender) {
         {#new Services($('.form-horizontal'),$.parseJSON('{% raw initData %}'));#}
        //var sCalendar = new calender();
        $('#period_day').on('click',function(e){new calender().show(this)})

    });
</script>

{% include '../common/footer.html' %}
